{% extends "polls/base.html" %}
{% load staticfiles %}
{% block main_content %}

    {% if not user.is_authenticated %}
        <p class="page-description text-center">
            <img src="http://www.sosokanapp.com/assets/images/beautypageant.jpg" width=370 alt=""/>
        </p>
        <p class="page-description text-center">
            <img src="http://www.sosokanapp.com/assets/images/topbanner.jpg" width=370 alt=""/>
        </p>
    {% else %}
        <p class="page-description text-center">
            <img src="http://www.sosokanapp.com/assets/images/topbanner.jpg" width=370 alt=""/>
        </p>
        <p class="page-description text-center">
            <img src="http://www.sosokanapp.com/assets/images/pickone.jpg" width=370 alt=""/>
        </p>
    {% endif %}

    <div class="tz-gallery">
        <form action = "{% url 'polls:votes' %}" method="post">
            {% csrf_token %}
            <div class="row">
                {% for contestant in candidates %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="{{contestant.candidate_image2}}">
                            <img src="{{contestant.candidate_image.url}}" width=400 alt="{{contestant.first_name}}"/>
                        </a>
                        <div class="caption">
                            <h4><p class="page-description text-center">#{{contestant.assigned_number}}. {{contestant.first_name}} {{contestant.last_name}}</p></h4>
                                <p class="page-description text-center">
                                    <input type="image" src="http://www.clker.com/cliparts/c/l/Y/w/j/p/orange-heart-hi.png" name="contestant" id="contestant{{forloop.counter}}" value ="{{contestant.id}}" width=60>{{contestant.vote_count}}
                                </p>
                            <p class="page-description text-center">Tap on the heart to Vote!</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
        
    <p class="page-description text-center">
        <a href="http://www.sosokanapp.com/index_cn.html" target="_blank">
            <img src="http://www.sosokanapp.com/assets/images/bottombanner.jpeg" width=370 border="0" align="center"/>
        </a>
    </p>

{% endblock %}
